<div class="container d-flex justify-content-center">
    <div>
        <h2 class="title">Hello, @User.Identity?.Name! Welcome to your account page!</h2>

        <h3 class="headLineAccount">Account Information</h3>
        <p>Email: john.doe@example.com</p>
        <p>First Name: John</p>
        <p>Last Name: Doe</p>
        <p>Role: User</p>

        <h3>Order History</h3>
        <p>No orders found.</p>
        <div class="SettingsContainer">
            <h3>Settings</h3>
            <p>Change Password</p>
            <p>Update Email</p>
            <p>Update Address</p>
        </div>
    </div>
</div>