@{
    ViewData["Title"] = "Access was Denied";
}

<div class="denied">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You dont have the right permissions to view this page</p>

        <div class="gif_container">
            <div class="tenor-gif-embed" data-postid="4062821" data-share-method="host" data-aspect-ratio="1.78151" data-width="100%"><a href="https://tenor.com/view/community-nathan-fillion-head-janitor-janitor-frustrated-gif-4062821">Frustrated Head Janitor - Community GIF</a>from <a href="https://tenor.com/search/community-gifs">Community GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
    </div>
</div>